<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>APIEndPoint</key>
		<string>http://private-anon-301b6768a7-webcat.apiary-proxy.com/</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>APIEndPoint</key>
		<string>http://polls.apiblueprint.org/</string>
	</dict>
	<key>Testing</key>
	<dict>
		<key>APIEndPoint</key>
		<string>http://private-anon-301b6768a7-webcat.apiary-mock.com/</string>
	</dict>
</dict>
</plist>
